# Telegram Bot
BOT_TOKEN=your_bot_token_here
ADMIN_IDS=your_telegram_id_here

# Hiddify
HIDDIFY_DOMAIN=https://arengate.tech
HIDDIFY_ADMIN_PATH=YOUR_ADMIN_PATH
HIDDIFY_CLIENT_PATH=YOUR_CLIENT_PATH
HIDDIFY_API_KEY=YOUR_ADMIN_UUID

# User defaults in Hiddify
USER_PACKAGE_DAYS=90
USER_USAGE_LIMIT_GB=1000

# Database
DB_PATH=./data/database.db
